        body, html {
	     font-family: monospace;
	     font-size: 12px;
	     color: #333;
	     height:100%;
	}
	input {
             outline-width: 0;
	}
	a, a:visited, a:active {
	     text-decoration: none;
	     color: #339;
             font-weight: bold;
		
	}
	a:hover {
	     text-decoration: underline; 
	     color: #66b;
     	     font-weight: bold;
		
	}
	
	#chatBox {
	     width: 99%;
	     margin: 0;
	     padding: 0;
	     background: #f5f5f5;
	}

	#chatBox .channel {
	}
	
	#rightBox
	{
	     width: 180px;
	     margin: 0;
	     padding: 0;
	     border: 0;
	     float:right;
	     margin-right: 6px;
	}
	
	#userBox {
		width: 100%;
		padding: 0;
	}
	
	#userBox .title, #chatBox .title {
	 font-weight: bold;
	 background-color: #dde;
    	 padding: 3px;
 	}

	#userBox .names { 
	    padding: 3px;	
	}

	.gen {
	     margin: 1px;
             padding: 3px;
	     border-width: 2px;
	     border-style: solid;
	     border-color: #dde;
             background: #eee;
	     padding-left: 5px;
	     padding-right: 5px;
	}

	#messageBox {
	 background: #eee;
	 overflow-x: hidden;
	 margin-right: 180px;
	 /*overflow-y: scroll;*/
        }

	
	.emojione {
	  min-height: 16px;
	  height: 16px;
	  min-width: 16px;
	  width: 16px;
	}
	.emoji-one-ad {
	  position:absolute;
	  bottom:5px;
	}
	
	#log{
	 line-height: 17px;
	}
	#log .stamp {
          font-size: 1em;
          color: #999;
	  float:left;
	  margin-right: 5px;
	}
	#log .msg { 
	  float:left; 
	  margin-right: 5px;
	}
	#log .name { 
	  float:left; 
	  margin-right: 5px;
	}

	#sendBox { 
	  padding:0; 
	  margin:0;
	  margin-right: 188px;
	  border:0;
  	}
	#sendBox input {
	  width:100%;
	}
	#sendBox .msg { 
	  margin-right:65px;
	  margin-left: 0px;

	}
	#sendBox .send {
          width: 50px;
	  float:right;
	}
