<!doctype html>
<meta http-equiv="refresh" content="10; URL=?">
<title>Hello from Flask</title>
{% if server and channel %}
  <h1>show #{{ channel }} on {{ server }}!</h1>
  <p><a href="?">refresh</a></p>
  <hr/>
  {%- for line in log -%}
    {{ line }}
    {%- if not loop.last -%}
      <br/>
    {%- endif -%}
  {%- endfor -%}
  <hr/>
  <p>
  <form action="/send" method="post">
    <input type="hidden" name="channel" value="{{ channel }}">
    <input type="hidden" name="server" value="{{ server }}">
    Msg: <input type="text" name="msg"/ autofocus>
    <input type="submit" value="Submit">
  </form>
  </p>
{% else %}
  <h1>No channel selected!</h1>
{% endif %}

