<!doctype html>
<html lang="en">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
        </script>
	<script src="//cdn.jsdelivr.net/emojione/1.5.0/lib/js/emojione.min.js"></script>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/emojione/1.5.0/assets/css/emojione.min.css" />
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<link href="/static/style.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
var loglen = {{ cfg.chatlines }};
var refresh_time = 5;
var interval_ref = "";

/*var timer="";
var isBlurred=false;
var lastMessageTs=parseInt(Date.now() / 1000);
var lastMessageRead=lastMessageTs
var newMessageSent = true;*/

// allow emoji-one ascii codes 
emojione.ascii = true;

// current server and channel shown
var cur_server = "{{ server }}";
var cur_channel = "{{ channel }}";

function reload(scrolldown) {
	//var requestBlurr = false;

	// get desired log length from text form field
	loglen = parseInt($( "#loglen" ).val(), 10) + 1;

    // ajax call to get <cur_channel>@<cur_server> chat-log 
    $.getJSON("/channel/" + cur_server + "/" + cur_channel + "?json=true&len=" + loglen, function( data ) {
	   //var lastlog = "";
	   var logcontent = "";

	   // preprocess received chat-log-data to 'logcontent'
	   $.each(data["log"].slice(-loglen), function(idx, val) {
	     logcontent += '<div class="stamp">[' + val["stamp"] + ']</div>';
	     if (val["user"] != "")
  	       logcontent += '<div class="name">' + val["user"] + ':</div>';
	     logcontent += '<div class="msg">' + emojione.toImage(val["msg"]) + '</div><br style="clear:both;" />';
	     //lastlog = val["stamp"];
	   });

	   // write log content
	   $( "#messageBox" ).html( logcontent );

	   // write users
	   $( "#userBox .names" ).html( data["users"].slice().join("<br />") );
           
           // we need to think about how to get the logs here...
           // this conversion is crap and should not be needed.
	   /*var last = lastlog.match(/(\[.*\])/g)[0];
           last = last.substr(1,last.length-2); 
           tss = last.split(" ").join("T");
           lastMessageTs = new Date(tss).getTime() / 1000;
           var diff = lastMessageTs - lastMessageRead;*/
	   /*var diff = 0;
           //console.log("last Message Ts: " + lastMessageTs);
           //console.log("last read:       " + lastMessageRead);
           //console.log("diff:            " + diff);
           if (diff > 5) {
               requestBlurr = true;
           }
           
           if ((!isBlurred) && requestBlurr && (!newMessageSent)) {
	     isBlurred = true;
             timer=window.setInterval(function() {
               document.title = document.title == "pyWebIRC" ? "<*> pyWebIRC" : "pyWebIRC";
             }, 1000);
           }
           
           if (newMessageSent) {
             newMessageSent = false;
             lastMessageRead = lastMessageTs;
           }*/
	   if(scrolldown)
		   $("#messageBox").scrollTop($("#messageBox")[0].scrollHeight);
      });
    return true;
};

function change_channel(new_srv, new_chan) {
	cur_server = new_srv;
	cur_channel = new_chan;
	return reload(true);
}

function send() {
	var msgfield = $( "#sendBox input[name='msg']" );
	msgfield.prop("disabled", true);

	/* ajax post request incoming */
	$.post( "/send", {
	  channel: cur_channel,
	  server: cur_server,
	  msg: msgfield.val()

	}, function (data) {
		reload();
		msgfield.val("");
                msgfield.prop("disabled", false);
	
	})
	.always(function() {
               msgfield.prop("disabled", false);
	       msgfield.focus();
	});

        newMessageSent = true;
};

/*function winResize() {
	$( "#chatBox" ).height($(window).height()-36);
};*/

$(function() {
	var msgfield = $( "#sendBox input[name='msg']" );
	reload(true);
	interval_ref = setInterval(reload, refresh_time*1000);
	/*var retime = parseInt($( "#refreshlen" ).value, 10);*/
	msgfield.keydown(function(event){
	/* avoid double send, do not send if #msg is disabled */
	if(event.keyCode == 13 && ! msgfield.prop("disabled") )
     	   send(); 
	});

	msgfield.focus();

	$( "#chatBox" ).resizable({ ghost: true });
	$( "#chatBox" ).height($(window).height()-100);
	/*winResize();*/

	$("body").css("overflow", "hidden");
});

/*function stopBlink() {
  // lastMessageRead = lastMessageTs;
  isBlurred = false;
  document.title = "pyWebIRC";
  clearInterval(timer);
};*/

/*$(window).resize(function(event) { winResize(); });*/

/*
$(window).on("focus",function() { 
  stopBlink();
});
			
$(document).mousemove(function(event) {
  stopBlink();
});

$(document).keypress(function(event) {
  stopBlink();
});*/


</script>
	<title>pyWebIRC - Web-based, Server-Side IRC Bouncer/Client Hybrid</title>
</head>
<body>
{% if server and channel %}
    <div id="chatBox" class="gen">
    <div class="title">#{{ channel }} || {{ server }}@{{ cfg.srv[server].server }} || Topic: &lt;insert topic here&gt;</div>
    <div class="channel">
      <div id="rightBox">
        <div class="gen" id="userBox">
          <div class="title">channel&nbsp;users:</div>
          <div class="names"></div>
        </div><br />
	<div class="gen" id="userBox">
	  <div class="title">available&nbsp;channels:</div>
	  {%- for srv in cfg.servers -%}
	  <!-- {{ srv }} ||  @{{ cfg.srv[srv].server }} [{{ cfg.srv[srv].port }}]:<br /> -->
	    {%- for c in cfg.srv[srv].channel -%}
	    <a href="javascript:change_channel('{{ srv }}', '{{ c[1:] }}');">=&gt; {{ c }} @ {{ srv }}</a><br />
	    {%- endfor -%}
	  {%- endfor -%}
	</div><br />
	<div class="gen" id="userBox">
          <div class="title">options:</div>
	  <a href="javascript:reload()">refresh</a><br />
	  <a href="/settings/">settings</a><br />
	  <a href="/logout/">logout</a><br />
	  <input type="text" name="loglen" id="loglen" value="60" />
	</div>

      </div>
      <div id="messageBox" class="gen">
      </div>
    </div>
    <div id=sendBox>
      <div class="send"><input class="gen" type="button" onclick="send()" value="Send" /></div>
      <div class="msg"><input class="gen" type="text" name="msg" autocomplete="off" /></div>
    </div>
  </div>
{% else %}
  <h1>No channel selected!</h1>
{% endif %}
<!-- span class="emoji-one-ad">
Emoji provided free by <a href="http://emojione.com">Emoji One</a>
</span -->
</body></html>
